SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TABLE BNEWNORMALLOAN
ADD [LoanAmountRemain] DECIMAL(18,4) NOT NULL DEFAULT 0;

GO 

UPDATE BNEWNORMALLOAN Set [LoanAmountRemain] = ISNULL(LoanAmount,0) - ISNULL(Tot_P_Pay_Amt,0)